body{
  /* background-image: url("https://c0.wallpaperflare.com/preview/912/739/608/black-coffee-break-break-time-brewed-coffee.jpg"); */
    margin: 0;
    /* display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh; */
}
*{
  transition: all 0.2s ease-in-out;
}
:root{
  --first-color:white;
  --second-color:#00A6FF;
  --third-color:black;
  --forth-color:rgb(196, 196, 196);
  --fifth-color:rgb(66, 66, 66);
  --sisth-color:rgb(96, 62, 43);
  --toggle-margin: 7.2em;
  
}
[data-theme="dark"]{
  --first-color:rgb(39, 39, 39);
  --second-color:rgb(96, 62, 43);
  --third-color:rgb(255, 255, 255);
  --forth-color:rgb(66, 66, 66);
  --fifth-color:rgb(196, 196, 196);
  --sisth-color:#00A6FF;

}
.maincontainer{
  display: none;
}
.desktop-login-signup{
  width: 100%;
  height: 100dvh;
  display: flex;
  background-color: var(--first-color);
}
.side-bar{
  color: white;
  width: 30%;
  height: 100%;
  background: var(--second-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.side-bar h1{
  font-size: 70px;
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;

}
.form{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 100dvh;

}
.login-signup-again{
  height: 50dvh;
}
.login-signup{
    position: relative;
    display: flex;
    /* border: rgb(41, 41, 41) solid; */
    width: 80dvh;
    height: 60dvh;
    border-radius: 30px;
    background: var(--forth-color);
    color: white;
    box-shadow: 0px 10px 20px rgb(97, 97, 97);

  }
  
  .slider{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: var(--second-color);
    width: 40dvh;
    height: 100%;
    border-radius: 30px;
    left: 0;
    transition: 0.5s;
  }
  #sliderani1{
    /* display: none; */
    animation: slider 2s  ;   
         animation-fill-mode: forwards;

  }
  @keyframes slider {
    0%{
      left: 0%;

    }
    100%{
      left: 50%;

    }
  }
  #sliderani2{
    /* display: none; */
    animation: slider2 2s  ;
  }
  @keyframes slider2 {
    0%{
      left: 50%;
      animation-play-state: running;
    }
    100%{
      left: 0%;
      animation-play-state: paused;

    }
  }

  .slider .slider-name{
    margin-top: 40%;
    color: white;
  }
  .slider button{
    border: none;
    padding:5px 10px;
    scale: 1.2;
    border-radius:30px ;
    transition: 0.5s;
    width: 10dvh;
  }
  .login, .signup{
    /* border: black solid; */
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 30px;
    height: 100%;
    /* border: black solid; */
  }
  .login button, .signup button{
    border-radius: 10px;
    /* margin-top: 20px; */
    width: fit-content;
    margin:20px auto;
    width: 50px;
    height: 30px;
    border: none;
    background: rgb(54, 54, 54);
    color: white;
  }
  .login input , .signup input{
    border-radius: 5px;
    height: 20px;
    outline: none;
    border: none;
    color: black;
    background: rgb(128, 128, 128, 0.5);
    padding-left:5px ;
  }
  .login input::placeholder , .signup input::placeholder{
    color: black;
  }

.login-1, .signup-1{
    display: flex;
    flex-direction: column;
    color: var(--third-color);
  }
.login-1 a{
  margin-top: 10px;
  color: var(--third-color);
    text-decoration: none;
    font-size: 10px;
}


  @media  screen and (max-width: 800px) {
    
    .login-signup{
      display: none;
    }
    .desktop-login-signup{
      display: none;
    }
    
    form{
      width: 100%;
      height: 100dvh;
      background: var(--first-color);
    }
    .maincontainer{
      display: block;
      position: relative;
      width: 40dvh;
      height: 50dvh;
      background-color: none;
          border-radius:20px 20px 20px 20px ;
  }
  .switcher{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px 20px 20px 20px;
    background-color: var(--second-color);
    color: white;
    position: absolute;
    top: 0;
    width: 100%;
    height: 20%;
  }
  .switcher h2{
    margin: 0;
    padding: 0;
    height: fit-content;
    /* border: black solid; */
  }
  .switcher button{
    border-radius: 20px;
    height: fit-content;
    width: fit-content;
    font-size: 15px;
    padding:5px 20px;
    border: none;
  }
  .thecard{
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: none;
      transform-style:preserve-3d ;
      transition: 1s ease-in-out;
      border-radius: 20px 20px 20px 20px;
      box-shadow: 0px 5px 20px rgb(96, 96, 96);
  }
  #flipCard{
      transform: rotateY(180deg);
  }
 
    .mobile-login-1{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      /* border: black solid; */
      background: var(--forth-color);
      border-radius: 20px 20px 20px 20px;

    }
    .login-1-1, .signup-1-1{
      display: flex;
      flex-direction: column;
      width: 80%;
      color:var(--third-color);
      /* color: white; */
    }
    .signup-1-1{
      margin-top: 15%;
    }
    .login-1-1 a{
      text-decoration: none;
      color: var(--third-color);
      font-size: 13px;
      margin-top: 10px;
  }
  .login-1-1 input, .signup-1-1 input{
    border-radius:5px;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 5px;
    border: none;
    outline: none;
  }
  .login-1-1 input::placeholder, .signup-1-1 input::placeholder{
    color: black;
  }

  .login-1-1 button,  .signup-1-1 button{
    border-radius: 20px;
    width: 10dvh;
    padding: 5px 10px;
    margin: auto;
    margin-top: 20px;
    scale: 1.2;
    border: none;
  }
    .mobile-signup-1{
      background: var(--forth-color);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      transform: rotateY(180deg);
      border-radius: 20px 20px 20px 20px;

    }
  }