.account-div{
    width: 60%;
    height: 90dvh;
    background: rgba(217, 217, 217, 0.46);
    /* border: black solid; */
    display: flex;
    justify-content: center;
    overflow: scroll;
}
.account-div-1{
    width: 90%;
    height: 100%;
    /* border: black solid; */
}
.account-data{
    margin-top: 5%;
    width: 100%;
    height: 30%;
    display: flex;
    /* padding: 20px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: blue solid; */
    background-color: rgba(217, 217, 217, 0.46);
}
.account-data img{
    width: 20dvh;
    height: 20dvh;
    aspect-ratio: 3/2;
    object-fit: contain;
    border-radius: 50%;
}
/* .account-data button{
    background: rgb(0, 0, 0);
    color: white;
} */
.account-data .username-caption{
    margin: 0;
    width: 50%;
    height: 60%;
    /* border: black solid; */
    overflow: hidden;
    
}
.username-caption .caption-user-account{
    width: 100%;
    height: 100%;
    /* border: black solid; */
    word-wrap: break-word;
    overflow: scroll;
}
.username-caption h1 , .username-caption p{
    margin: 0;
}

.post-draft-saved{
    margin-top: 5%;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    gap: 40px;
}
.user-post{
    width: 100%;
    height: 90%;
    background-color: rgba(217, 217, 217, 0.46);
    /* border: black solid; */
    overflow: scroll;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.user-post .userpost{
    margin-bottom: 20px;
    width: 30%;
    height: 50%;
    background: rgb(199, 199, 199);
    /* border: black solid; */
}
.userpost-head{
    height:20%;
    /* border: blue solid; */
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid;
}
.userpost-head img{
    width: 5dvh;
    height: 5dvh;
    border-radius: 50%;
    aspect-ratio: 3/2;
    object-fit: contain;
    margin-left: 3%;
}
.self-post-title {
    /* height: 10%; */
}
.self-post-title h4, .self-post-caption p{
    margin: 0;
    padding: 0;
    height: fit-content;
    padding-left: 10px;
    /* border: black solid; */
}
.self-post-caption{
    height: 20%;
    overflow: hidden;
    /* border: black solid; */
}
.self-post-image{
    margin: 0;
    width: 100%;
    height: 50%;
    /* border: blue solid; */
}
.self-post-image img{
    width: 100%;
    height: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;
}
@media screen and (max-width:700px){
    .maindiv{
        height: 83dvh;
        overflow: scroll;
    }
    .account-div{
        width: 100%;
    }
    .account-data{
        margin-top: 5%;
        width: 100%;
        height: 30%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
        background-color: rgba(217, 217, 217, 0.46);
    }
    .account-data img{
        width: 15dvh;
        height: 15dvh;
        aspect-ratio: 3/2;
        object-fit: contain;
        border-radius: 50%;
    }
    .user-post{
        width: 100%;
        height: 90%;
        background-color: rgba(217, 217, 217, 0.46);
        /* border: black solid; */
        overflow: scroll;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .user-post .userpost{
        margin-bottom: 0px;
        width: 40%;
        height: 30%;
        background: rgb(199, 199, 199);
        border: black 1px solid;
    }
    .userpost-head img{
        width: 3dvh;
        height: 3dvh;
        border-radius: 50%;
        aspect-ratio: 3/2;
        object-fit: contain;
        margin-left: 3%;
    }
    .userpost-head{
        font-size:10px;
    }
    .self-post-title h4, .self-post-caption p{
        font-size: 12px;
    }

}