::-webkit-scrollbar{
    display: none;
}
:root{
    --background--color:white;
    --postdiv-background:rgba(217, 217, 217, 0.46);
    --small-circle1:rgba(134, 94, 171, 1);
    --small-circle2:rgba(211, 148, 238, 1);
    --small-circle3:rgba(148, 187, 238, 1);
    --text-color:black;

}
[data-theme="dark"]
{ 
    --background--color:black;
    --postdiv-background:rgba(39, 38, 38, 0.46);
    --small-circle1:rgba(194, 49, 0, 1);
    --small-circle2:rgba(125, 38, 4, 1);
    --small-circle3:rgba(88, 17, 3, 1);
    --text-color:white;

}
body{
    background: var(--background--color);
}
.background{

    display: flex;
    justify-content: center;
    width: 100%;
        position: absolute;
        /* border: blue solid; */
        /* background: var(--background--color); */
}
.small-cir1{
    width: 50dvh;
    height: 70dvh;
    background: var(--small-circle1);
    /* transform: translate(0%,-50%); */
    border-radius:50%;
    filter: blur(100px);
}
.small-cir2{
    width: 50dvh;
    height: 70dvh;
    background: var(--small-circle2);
    /* transform: translate(0%,-50%); */
    border-radius:50%;
    filter: blur(20px);
}
.small-cir3{
    width: 50dvh;
    height: 70dvh;
    background: var(--small-circle3);
    /* transform: translate(0%,-50%); */
    border-radius:50%;
    filter: blur(20px);
}
.maindiv{
    display: flex;
    justify-content: center;
    margin-top: 10dvh;
    position: absolute;
    width: 100%;
    height: 90dvh;
    /* border: black solid; */
    /* background: rgba(255, 255, 255, 0.162); */
    backdrop-filter: blur(20px);
}
.sidebar{
    width: 20%;
    height: 100%;
    /* border: blue solid; */
}
.postdiv{
    width: 60%;
    height: 100%;
    border:black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--postdiv-background);
}
.post{
    margin-top: 20px;
    width: 90%;
    height: 50%;
    background-color: rgb(106, 106, 106,0.5);
    display: flex;
}
.post-function{
    width: 40%;
    height: 100%;
    /* border: black solid; */
}
.post-function-head{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
}
.user-id{
    /* margin: 5px; */
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.user-id img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    aspect-ratio: 3/2;
    object-fit: contain;
}
.user-id span{
    padding: 0;
    margin: 0;
    /* border: gray solid; */
    font-size: 20px;
}
.user-id p{
    padding: 0;
    margin: 0;
    /* border: gray solid; */
}
.post-function-caption{
    width: 100%;
    height: auto;
    max-height: 50%;
    overflow: scroll;
    border: red solid;
}
.post-function-caption p{
    margin: 10px;
}
.post-image{
    width: 60%;
    height: 100%;
}
.post-image img{
    width: 100%;
    height: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;
}