:root {
    --sidebar-head-color: white;
    --sidebar-background-color: rgba(217, 217, 217, 0.46);
    --sidebar-text-color: black;
    /* --toggle-margin: 7.2em; */

}

[data-theme="dark"] {
    --sidebar-head-color: black;
    --sidebar-background-color: rgba(39, 38, 38, 0.46);
    --sidebar-text-color: white;

}

body {
    margin: 0;
}

* {
    transition: all 0.2s ease-in-out;
}

.sidebar {
    width: 40%;
    height: 100%;
    /* background-color: red; */
    /* background-color: #a1a0a0; */
    background: var(--sidebar-background-color);
    /* position: fixed; */

    .profile-section {
        display: flex;
        align-items: center;
        background: var(--sidebar-head-color);
        padding: 5px 10px;

        #profile-img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            object-fit: cover;
            /* margin-left: .5rem; */
        }

        #profile-uname {
            font-weight: 400;
            font-size: larger;
            margin-left: .5rem;
            color: var(--third-color);
        }
    }

    .buttons {
        overflow: hidden;
        .sidebar-buttons {
            padding: 10px 20px;
            margin: 10px 0;
            display: flex;
            align-items: center;
            position: relative;

            #sidebar-icon {
                margin: 0 10px 0 0;
                color: var(--third-color);
            }
            span{
                color: var(--third-color);
            }

            #sidebar-icon:hover,
            span:hover {
                cursor: pointer;
            }
        }
        .sidebar-buttons:hover{
            background-color: rgba(175, 173, 173, 0.744);
            transform: scale(1.1);
        }
    }
    #theme{
        /* border: black solid; */
        display: flex;
    }
}